.button {
  @apply bg-grey p-2 rounded-full flex items-center relative;

  svg + svg {
    @apply ml-3;
  }

  span {
    @apply absolute w-100 h-8 bg-white rounded-full transition-all duration-200 border border-grey;
    top: 0;
    left: 0;
    bottom: 0;
  }
}
